body{
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 1.8 !important;
    background-color: $gray-100;
    color: $gray-700;
}

.py-6 {
    padding: 4rem 0;
} 
.py-7 {
    padding: 5.5rem 0;
}
.py-8 {
    padding: 6rem 0;
}

.pt-6 {
    padding-top: 4rem;
}
.pt-7 {
    padding-top: 5.5rem;
}
.pt-8 {
    padding-top: 6rem;
}

.pb-6 {
    padding-bottom: 4rem;
}
.pb-7 {
    padding-bottom: 5.5rem;
}
.pb-8 {
    padding-bottom: 6rem;
}

h1{
    @include stile-titoli;
}
h2{
    @include stile-titoli;
}
h3{
    @include stile-titoli;
}
h4{
    @include stile-titoli;
}
h5{
    @include stile-titoli;
}
h6{
    @include stile-titoli;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

li{
    list-style: none;
}

.whitetxt{
    color: $white !important;
}

.resizeMenu{
    background-color: $gray-900;
}

hr{
    padding: 0;
    margin: 0;
}


/*========================================================MENU*/
#menu{
    transition: 0.5s;
}
.space-menu{
    margin-top: 38px;
}

.navbar{
    padding: 0px;
}

.navbar-brand{
    color: $white !important;
    font-size: 1.5rem !important;
}

.nav-item{
    a{
        font-size: 16px !important;
        color: $white !important;
    }
    transition: 0.5s;
}

.crowdfunding{
    color: $white!important;
    background-color: $primary;
    transition: 0.5s;
}
.crowdfunding:hover{
    background-color: $white;
    color: $primary !important;
}

.nav-item:hover{
    background-color: $secondary;
}

#main-menu{
    li{
        &.active{
            background-color: $secondary;
        }
    }
}

button:focus{
    outline: inherit !important;
    span{
        background-image: url("<?php echo get_template_directory_uri(); ?>/../../img/menu.svg") !important;
    }
}
.navbar-toggler{
    padding: 0px;
    border: inherit !important;
}

.navbar-toggler-icon{
    background-image: url("../img/menu.svg") !important;
    transition: 0.5s;
}

.ham-menu{
    width: 40px;
}

a{
    &.btn-crwd{
        background-color: $primary !important;
        color: $white !important;
        transition: 0.5s;
    }

    &.btn-top{
        background-color: $dark;
        color: $white;
        border-radius: 0px !important;
        transition: 0.5s;
    }
}
a:hover{
    &.btn-top{
        background-color: $gray-600 !important;
        color: $white !important;
    }

    &.btn-top{
        background-color: $gray-600;
        color: $white;
    }
}

.dropdown-menu{
    background-color: $gray-600;
    li{
        &.menu-item{
            a:hover{
                background-color: rgba($color: #000000, $alpha: 0);
            }
        }

        &.menu-item:hover{
            background-color: $primary;
        }
    }
    li{
        &.active{
            a{
                color: $white !important;
            }
        }
    }
}

/*===============================================ACCESSIBILITY*/
.accessibility{
    div{
        button{
            border-radius: inherit;
            border: inherit;
        }
        button:nth-child(1){
            background-color: #0a0;
            color: $white;
        }
        button:nth-child(2){
            background-color: darkgreen;
            color: $white;
        }
    }
}    


/*========================================================HERO*/

div{
    &.jumbotron{
        background-image: url("<?php echo get_template_directory_uri(); ?>/../../img/prova.jpg") !important;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: inherit;
    }
    &.banner-top{ 
        height: 700px !important;
    }
    div{
        h2{
            font-family: 'Cutive Mono', monospace;
        }
    }
}

.hero-text{
    h1{
        font-family: "Helvetica Neue" !important;
        font-size: 40px !important;
    }

    h2{
        font-size: 32px !important;
    }
}

.cite-top{
    font-family: 'Cedarville Cursive', cursive;
    font-size: 22px;
}


/*========================================================VIDEO*/

.box-video{
    background-image: url("<?php echo get_template_directory_uri(); ?>/../../img/scheletro1.jpg") !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*========================================================MAIN*/

.car-control{
    color: $dark;
    width: inherit !important;
    transition: 0.5s;
}
.car-control:hover{
    color: $primary;
}
.car-control:focus{
    color: $primary;
}

.what{
    background-image: url("<?php echo get_template_directory_uri(); ?>/../../img/what.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.why{
    background-image: url("<?php echo get_template_directory_uri(); ?>/../../img/why.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-bottom{
    height: 700px;
    background-image: url("<?php echo get_template_directory_uri(); ?>/../../img/box4-img.jpg") !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    h2{
        color: $primary;
        font-family: 'Cedarville Cursive', cursive !important;
    }
}

/*========================================================FOOTER*/

footer{
    background-color: $gray-100;
}

.cite{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

li{
    a{
        color: $gray-900;
        transition: 0.5s;
    }
    a:hover{
        color: $primary;
    }
}

.crwd{
    color: $primary;
    transition: 0.5s; 
}

.crwd:hover{
    color: $gray-900;
}

.fab{
    font-size: 25px;
}

//Pagina IL LIBRO
.banner-top-page{
    height: 700px !important;
    background-image: url("<?php echo get_template_directory_uri(); ?>/../../img/prova.jpg") !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

//IL CROWDFUNDING - COME FUNZIONA
.infographic{
    transition: 0.5s;
}
.infographic:hover{
    transform: scale(1.01);
    box-shadow: 0px 0px 30px #777;
}

//Pagina LA PAGINA DEI RINTRAZIAMENTI
.book{
    background-image: linear-gradient(#555, #111);
    box-shadow: 0px 0px 5px #555555;
}
.book-page{
    height: 500px;
    background-image: url("<?php echo get_template_directory_uri(); ?>/../../img/carta.jpg");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 2.5;
    font-size: 25px;
    font-family: 'Cedarville Cursive', cursive;
    overflow-y: scroll;
    //box-shadow: 0px 0px 5px #555555;
}
/* .page p{
    line-height: 2.5;
    font-size: 25px;
    font-family: 'Cedarville Cursive', cursive;
    overflow-y: scroll;
} */

iframe{
    width: 100%;
    height: 550px;
}


//IL BLOG
div{
    &.blog-card{
        border: inherit;
        border-radius: inherit !important;
        transition: 0.5s;

        div{
            &.avatar{
                position: relative;
                top: -50px;
                margin-bottom: -50px;
        
                img{
                    width: 100px;
                    height: 100px;
                    max-width: 100px;
                    max-height: 100px;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                    border: 1px solid rgba(0,0,0,.125);
                }
            }
        }
        div{
            &.card-body{

                h1{
                    color: $primary;
                    font-size: 28px;
                }

                .btn{
                    border-radius: inherit;
                    border: inherit;
                    transition: 0.5s;
                }
                .btn:hover{
                    background-color: $gray-600;
                }
            }
        }
        div{
            &.card-footer{
                background-color: $gray-200;
                border-top: inherit;
                color: $gray-600;
                font-size: 12px;
            }
        }
    }

    .blog-card:hover{
        transform: scale(1.01);
        box-shadow: 0px 0px 30px #777;
    }
}

//ARTICOLI - Right
aside{
    h3{
        color: $primary;
    }
}
.right-widget-area{
    h3{
        color: $primary;
    }   
}



